h1, p, img, footer, .hidden {
    opacity: 0 ; transform: translateY(20px) ;
    transition: opacity 0.65s cubic-bezier(.165,.84,.44,1), /* for fade-in */
                transform 0.55s cubic-bezier(.165,.84,.44,1) ; /* for move-in */ }
.visible { opacity: 1 ; transform: translateY(0) }

body {
    font-family: Arial,sans-serif ; text-align: center ;
    margin: 0 ; background-color: #f9f9f9 }
.main { max-width: 812px ; margin: 0 auto ; padding: 56px 16.5vw 131px }
.title-icon { width: 50px ; height: 50px ; position: relative ; top: 20px ; margin-right: 15px }
h1 { font-size: 48px ; margin-bottom: 48px }
p { font-size: 24px ; margin-bottom: 8px }
img { max-width: 100% ; height: auto ; margin-bottom: 15px }
footer { padding-bottom: 50px ; font-weight: bold ; font-size: 22px }

@media (max-width: 768px) {
    .title-icon { width: 42px ; height: 42px ; position: relative ; top: 7px ; margin-right: 11px }
    h1 { font-size: 32px ; margin-bottom: 20px }
    p { font-size: 18px ; margin-bottom: 15px }
    .main { padding: 16px 10vw 60px }
}
